<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.wj.mapper.GPayRecordMapper">
  <resultMap id="BaseResultMap" type="cn.edu.wj.model.GPayRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pay_no" jdbcType="INTEGER" property="payNo" />
    <result column="doctor" jdbcType="VARCHAR" property="doctor" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="pay_money" jdbcType="INTEGER" property="payMoney" />
    <result column="pay_way" jdbcType="VARCHAR" property="payWay" />
    <result column="pay_time" jdbcType="INTEGER" property="payTime" />
    <result column="is_pay" jdbcType="BIT" property="isPay" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pay_no, doctor, pay_type, pay_money, pay_way, pay_time, is_pay
  </sql>
  <insert id="insertSQL" parameterType="cn.edu.wj.model.GPayRecord"  >
      insert into g_pay_record (pay_no, pay_type, pay_money, is_pay)
    values (#{payNo,jdbcType=INTEGER}, #{payType,jdbcType=VARCHAR}, #{payMoney,jdbcType=INTEGER}, 
      #{isPay,jdbcType=BIT})
       
  </insert>
  <select id="selectPayRecordInfo" resultMap="BaseResultMap">
    select 
    pay_no, doctor, pay_type, pay_money, pay_way, pay_time, is_pay
    from g_pay_record
    where pay_no =  #{payNo,jdbcType=INTEGER}
  </select>
  <select id="findAllPayRecordInfo" parameterType="cn.edu.wj.model.GPayRecord" resultMap="BaseResultMap"  >
  	<if test="_parameter!=null">
  	select 
  	<include refid="Base_Column_List" />
    from g_pay_record 
  	where pay_no =  #{payNo,jdbcType=INTEGER}
  	</if>
  </select>
  <select id="selectPage" resultType="Map">
  
  	<if test="_parameter!=null">
  		SELECT 
  		<include refid="Base_Column_List" />
  		FROM g_pay_record 
  		where pay_no =  #{payNo,jdbcType=INTEGER} 
		limit #{m},#{n}
	</if>
	</select>
	<update id="updateGPayRecordId" parameterType="cn.edu.wj.model.GPayRecord">
	    update g_pay_record
	    set
	    <if test="type == 'doctor'">
	    	doctor = #{gpr.doctor,jdbcType=VARCHAR} 
	    </if>
	    <if test="type == 'pay_way'">
	    	pay_way = #{gpr.payWay,jdbcType=VARCHAR} 
	    </if>
	    <if test="type == 'pay_time'">
	    	pay_time = #{gpr.payTime,jdbcType=INTEGER} 
	    </if>
	    where id = #{gpr.id,jdbcType=INTEGER}
	 </update>
	 <update id="updateGPayRecord" parameterType="cn.edu.wj.model.GPayRecord">
	    update g_pay_record
	    set is_pay = 1, pay_time = 0
	    where id = #{id,jdbcType=INTEGER}
	 </update>
  
</mapper>