<!DOCTYPE html>
<html>
  <head>
    <title>MyHtml.html</title>
  <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>

  </head>
  
  <body>
    <form id="form" action="" method="post">
    <table align="center" class="form-table">
		<tr>
			<td>父节点：</td>
			<td>
				<input class="jq-combotree" type="text" name="pid" th:value="${actionNode.pid}" url="/admin/action_node?ui=combo" data-options="{
						required:true,
						method:'post',
						valueField:'id'
					}" />
			</td>
		</tr>
		<tr>
			<td>节点名称：</td>
			<td>
				<input name="name" class="jq-validatebox" th:value="${actionNode.name}" type="text" data-options="required:true" />
			</td>
		</tr>
		<tr>
			<td>url：</td>
			<td>
				<input name="url"  th:value="${actionNode.url}" type="text" />
			</td>
		</tr>
		<tr>
			<td>排序值：</td>
			<td>
				<input name="sortId" class="jq-validatebox" th:value="${actionNode.sortId}" type="text" data-options="required:true" validType="number" />
			</td>
		</tr>
		<tr>
			<td>是否显示：</td>
			<td>
				<label class="radio inline">
				  <input type="radio" name="isShow" value="1"/>
				  是
				</label>
				<label class="radio inline">
				  <input type="radio" name="isShow" value="0"/>
				  否
				</label>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="hidden" name="id" value="${actionNode.id}" />
				<button type="submit" class="button button-primary button-rounded button-small">确定</button>
			</td>
		</tr>
	</table>
</form>
  </body>
</html>
