<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		<link rel="stylesheet" href="layui/css/layui.css"  media="all"/>
		<style>
			button{
				margin-left: 50px;
				margin-top: 40px;
			}
		</style>
	</head>
	<body>
		<a href="/registration_fee?doctorName=外科医生1&amp;department=普通外科" target="iframe_a">
			<button class="layui-btn layui-btn-primary layui-btn-lg">
				外科医生1<br/>
			</button>
		</a>
		<a href="/registration_fee" target="iframe_a">
			<button class="layui-btn layui-btn-primary layui-btn-lg">
				外科医生2<br/>
			</button>
		</a>
	</body>
</html>
