<!doctype html><html>
    <head>
        <title>标题</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
   
        <form action="/addMedicine"  method = "post">
            <p>药名：<input type="text" name = "name"/></p>
            <p>价格：<input type="text" name = "price"/></p>
            <p>库存：<input type="text" name = "repertory"/></p>
            <p>类型：<input type="text" name = "type"/></p>
            <p>药效：<input type="text" name = "function"/></p>
            <p>备注：<input type="text" name = "remark"/></p>
            <button type= "submit">确认增加</button>
        </form>

        <script src="js/zepto.min.js"></script>
    </body>
    </html>