<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		<link rel="stylesheet" href="layui/css/layui.css"  media="all"/>
		<link rel="stylesheet" href="css/registration_fee.css"  media="all"/>
	</head>
	<body>
		<div id="fee">
			<div class="fee_img">
				<img src="img/fee.jpg" />
			</div>
			<p>收费单号:&nbsp;<span>411141414</span></p>
			<div id="fee_con">
				<div class="fee_title">
					<div>姓名:&nbsp;病人1</div>
					<div>性别:&nbsp;男</div>
					<div>参保类型:&nbsp;新农合</div>
					<div>医保账号:&nbsp;123456789012</div>
				</div>
				<table rules="none" frame="void">
					<tr>
				    	<th width="200" style="text-align: left;">挂号科室</th>
				    	<th width="100">医生</th>
				    	<th width="100">挂号时间</th>
				    	<th width="200">金额(元)</th>
				    	<th width="332">个人实付金额（元）</th>
				    </tr>
				    <tr>
				    	<td th:text="${regFeeInfo[0]}"></td>
				    	<td class="con" th:text="${regFeeInfo[1]}"></td>
				    	<td class="con">13:00:00</td>
				    	<td class="con" th:text="${regFeeInfo[2]}"></td>
				    	<td class="con" th:text="${regFeeInfo[3]}"></td>
				    </tr>
				</table>
				<div class="fee_bottom">
					<p style="color: red;">
						&nbsp;收费：请到缴费窗口
					</p>
					<hr  style="height:3px;border:none;border-top:2px solid #F26ECC;" />
					合计费用(元):<span  th:text="${regFeeInfo[3]}"></span>
					<hr  style="height:3px;border:none;border-top:2px solid #F26ECC;" />
					<div class="fee_name">
						收款单位:&nbsp;万军门诊
					</div>
					<div class="fee_time">
						2018年12月2日
					</div>
				</div>
			</div>
			<a th:href="@{'/real_registration?department='+${regFeeInfo[1]}+'&amp;doctorName='+${regFeeInfo[0]}+'&amp;payMoney='+${regFeeInfo[3]}}"><button class="layui-btn">确认挂号</button></a>
			<a href="/registration"><button class="layui-btn layui-btn-danger">取消</button></a>
		</div>
	</body>
</html>
