@charset "utf-8";
@charset "utf-8";
CSS 定制的公共样式
html,body{font-family:"Microsoft yahei";font-size:12px; line-height:20px;color:#888; background-color:#fff; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td ,input{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:12px;}
a{/* color:#666;  */text-decoration:none;transition:background-color 0.1s ease-in 0s, color 0.2s ease-in 0s;-webkit-transition:background-color 0.1s ease-in 0s, color 0.2s ease-in 0s;outline:none} for firefox
a:hover{color:#333;}
ul,dl{ list-style-type:none;}
li{vertical-align:top;}
.clear{ clear:both; margin:0; padding:0; font-size:0px; line-height:0px; height:0px; overflow:hidden;} 
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
*html .clearfix {zoom:1;}
*+html .clearfix {zoom:1;}
img{ border:none; vertical-align:top;}
input,textarea{font-family:"Microsoft yahei"; font-size:12px;color:#888;border:none;outline: medium none;transition:background-color 0.2s ease-in 0s, color 0.2s ease-in 0s;-webkit-transition:background-color 0.2s ease-in 0s, color 0.2s ease-in 0s;}
input:focus{ }
/* CSS 活动的公共样式 */





.course{ height:180px; background:#FFF;overflow:auto;}
.course_nr2{list-style-type:none;width:100px;white-space:nowrap;}
.course_nr{height:170px; background:url(../../images/ico9.gif) repeat-x center;overflow: auto;}
.course_nr li{ display:inline-block;background:url(../../images/ico10.gif) no-repeat center top; padding-top:30px; width:140px; text-align:center; position:relative; margin-top:65px;}

.shiji{ position:absolute; width:100%; left:0; top:-20px; display:none;}
.shiji h1{ height:67px; line-height:67px; color:#518dbb; font-weight:bold; background:url(../../images/ico11.gif) no-repeat center top; margin-bottom:8px;}
.shiji p{ line-height:14px; color:#999;}

.course_nr .no_last{ display:inline-block;background:url(../../images/ico10.png) no-repeat center top; padding-top:30px; width:140px; text-align:center; position:relative; margin-top:65px;}
.shiji_no_last{ position:absolute; width:100%; left:0; top:-20px; display:none;}
.shiji_no_last h1{ height:67px; line-height:67px; color:#00CD00; font-weight:bold; background:url(../../images/ico11.png) no-repeat center top; margin-bottom:8px;}
.shiji_no_last p{ line-height:14px; color:#00CD00;}

.course_nr .is_over{ display:inline-block;background:url(../../images/ico12.png) no-repeat center top; padding-top:30px; width:140px; text-align:center; position:relative; margin-top:65px;}
.shiji_over{ position:absolute; width:100%; left:0; top:-20px; display:none;}
.shiji_over h1{ height:67px; line-height:67px; color:red; font-weight:bold; background:url(../../images/ico13.png) no-repeat center top; margin-bottom:8px;}
.shiji_over p{ line-height:14px; color:red;}

